body {
	font-family: 'Lato', sans-serif;
	/*background: url('cat-1468491613Sf4.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/
	/* I HAVE NO DESIGN SENSE */
	background-color: #68D265
}

.button {
	background-color: #1CACF6;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	cursor: pointer;
	border: none;
	border-radius: 12px;
	padding: 20px; 
    width: 140px;
    height: 80px;
    text-align: center;
    text-decoration: none;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #0879FD;
    color: white;
}

.account {
	margin-top: 30px;
	margin-left: 30px;
	background-color: white;
	max-width: 20%;
	border-radius: 5px;
}

#register{
	padding: 20px;
}

#login{
	padding: 20px;	
}