body {
    background-color: #feffe1;
    color: #3EB5FE;
    font-family: 'Poiret One';
}

.button {
	background-color: #D9F5FD;
    color: #3EB5FE;
	font-family: 'Poiret One';
	font-size: 24px;
	cursor: pointer;
	border: none;
	border-radius: 12px;
	padding: 20px; 
    width: 140px;
    height: 80px;
    text-align: center;
    text-decoration: none;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #3EB5FE;
    color: white;
}

.account {
	margin-top: 30px;
	margin-left: 30px;
	background-color: white;
	max-width: 20%;
	border-radius: 5px;
}

#register{
	padding: 20px;
}

#login{
	padding: 20px;	
}