<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home</title>


	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

</head>

<body>
{% extends 'app/base.html' %}
{% block content %}

	{{ petfinder }}

	<div class = "search-div">
		<article class = "search">
	    	<p>Search function here</p>

	    	<form action = "{% url 'animal_adoption:find_pet' %}" method = "POST">
			{% csrf_token %}

			<h1>Location</h1>
			<input name = "location" type = "text" placeholder="Search by ZIP code or city">

			<h1>Animal</h1>
			<select name = "animal">
			  <option value="">Any</option>
			  <option value="barnyard">Barnyard</option>
			  <option value="bird">Bird</option>
			  <option value="cat">Cat</option>
			  <option value="dog">Dog</option>
			  <option value="horse">Horse</option>
			  <option value="pig">Pig</option>
			  <option value="reptile">Reptile</option>
			  <option value="smallfurry">Small Mammal</option>
			</select>

			<h1>Breed</h1>
			<input name = "breed" type = "text" placeholder="Enter a breed">

			<h1>Sex</h1>
			<select name = "sex">
			  <option value="">Any</option>
			  <option value="M">Male</option>
			  <option value="F">Female</option>
			</select>

			<h1>Size</h1>
				<select name = "size">
				  <option value="">Any</option>
				  <option value="S">Small</option>
				  <option value="M">Medium</option>
				  <option value="L">Large</option>
				  <option value="XL">Extra-Large</option>
				</select>

			<h1>Age</h1>
				<select name = "age">
				  <option value="">Any</option>
				  <option value="Baby">Baby</option>
				  <option value="Young">Young</option>
				  <option value="Adult">Adult</option>
				  <option value="Senior">Senior</option>
				</select>


			<input type="submit" value = "Search">
			</form>


	    </article>

		<article class = "featured">
		<p>Featured pets here</p>
		            <SCRIPT src="https://fpm.petfinder.com/js/fpmstyle.js"></SCRIPT>
            <SCRIPT src="https://fpm.petfinder.com/fp/petfeed.cgi?lang=json&callback=fpm1&state=&shelter=&animal=&age=&ref=123123412asdgfasdfg234qlgkhj1p928y4"></SCRIPT>

    	</article>

    </div>


    <aside class = "aside-1">
		<p>Quiz</p>
    </aside>

    <aside class = "aside-2">
		<p>Help</p>
    </aside>

    <aside class = "share">
		<p>Share this page</p>
    </aside>


{% endblock %}
</body>

</html>
