<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home</title>


	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

</head>

<body>
{% extends 'app/base.html' %}
{% block content %}

	<!-- {{ petfinder }} -->

	<div class = "search-div">
		<article class = "search">
	    	<!-- <p>Search function here</p> -->

	    	<form action = "{% url 'animal_adoption:find_pet' %}" method = "POST">
			{% csrf_token %}
			<div class = "search-options">
				<h1>Location</h1>
				<input name = "location" type = "text" placeholder="Search by ZIP code or city">
			</div>

			<div class = "search-options">
			<h1>Animal</h1>
			<select name = "animal">
			  <option value="">Any</option>
			  <option value="barnyard">Barnyard</option>
			  <option value="bird">Bird</option>
			  <option value="cat">Cat</option>
			  <option value="dog">Dog</option>
			  <option value="horse">Horse</option>
			  <option value="pig">Pig</option>
			  <option value="reptile">Reptile</option>
			  <option value="smallfurry">Small Mammal</option>
			</select>
			</div>
			
			<div class = "search-options">
			<h1>Breed</h1>
			<input name = "breed" type = "text" placeholder="Enter a breed">
			</div>

			<div class = "search-options">
			<h1>Sex</h1>
			<select name = "sex">
			  <option value="">Any</option>
			  <option value="M">Male</option>
			  <option value="F">Female</option>
			</select>
			</div>

			<div class = "search-options">
			<h1>Size</h1>
				<select name = "size">
				  <option value="">Any</option>
				  <option value="S">Small</option>
				  <option value="M">Medium</option>
				  <option value="L">Large</option>
				  <option value="XL">Extra-Large</option>
				</select>
			</div>
			
			<div class = "search-options">
			<h1>Age</h1>
				<select name = "age">
				  <option value="">Any</option>
				  <option value="Baby">Baby</option>
				  <option value="Young">Young</option>
				  <option value="Adult">Adult</option>
				  <option value="Senior">Senior</option>
				</select>
			</div>

			<input type="submit" value = "Search" class = "search-button">
			</form>

	    </article>

	</div>

	<aside class = "aside-1">
    	<!-- <p>Shelter search function here</p> -->
		<article class = "shelter-search">

	    	<form action = "{% url 'animal_adoption:find_shelter' %}" method = "POST">
				{% csrf_token %}
				<br>
				<!-- <br> -->
				<div class = "shelter-search-text">
					<h1>Location</h1>
					<input type = 'text' name = 'location' placeholder="Search by ZIP code or city">
				</div>
				<div class = "shelter-search-text">
					<h1>Name</h1>
					<input type = 'text' name = 'name' placeholder="Name of the shelter">
					<br>
					<!-- <br> -->
					<input type = 'submit' value = 'Search' class = "shelter-search-button">
				</div>
			</form>

		</article>
    </aside>

    

	<!-- <div class = "featured-div">

			<article class = "featured-pets">
				
				<p>Featured pets here</p>
		        
			</article> -->


		           <!--  <SCRIPT src="https://fpm.petfinder.com/js/fpmstyle.js"></SCRIPT>
            <SCRIPT src="https://fpm.petfinder.com/fp/petfeed.cgi?lang=json&callback=fpm1&state=&shelter=&animal=&age=&ref=123123412asdgfasdfg234qlgkhj1p928y4"></SCRIPT> -->

    <!-- </div> -->

    <div class = "featured-div">
		<!-- <h2>Featured Pets</h2> -->
		{% for value in petfinderValues %}

			<div class = "featured-pets">
				{% for info in value.info %}
					{% if "http" in info %}
						<img id="featured-pet-photo" src={{info}} alt="Thumbnail Picture">
					{% else %}
						<div class = "featured-pet-info">{{info}}</div>
					{% endif %}

				{% endfor %}
				<form action = "{% url 'animal_adoption:details' %}?ID={{value.ID}}" method = "POST">
						{% csrf_token %}
						<input type = "submit" value = "Details" class = "button1">
					</form>

				<br>
				<br>
			</div>
		{% endfor %}
	</div>

		

    	</article>

    <aside class = "aside-2">
    	
		<article class = "share">

	   		<!-- <p>Share this page</p> -->
				<a href="https://www.facebook.com/sharer/sharer.php?u=wikipedia.org" target="_blank">
					<img class = "share-photo" id="facebook-photo" src="https://scontent-yyz1-1.xx.fbcdn.net/t31.0-8/11930988_10154088276211729_2432197377106462187_o.png" alt="facebook">
				</a>

				<a href="https://twitter.com/home?status=Check%20out%20http%3A//wikipedia.org!" target="_blank">
					<img class = "share-photo" id="twitter-photo" src="http://www.sketchappsources.com/resources/source-image/twitterlogo_1x.png" alt="twitter">
				</a>

				<a href="mailto:?subject=Check%20out%20PetSearcher!&body=http://wikipedia.org" target="_blank">
					<img class = "share-photo" id="mail-photo" src="http://aqbsoft.com/m/photos/get_image/file/b491e1e7f273f5a2c9c3307ca69ff8f3.jpg" alt="email">
				</a>
		</article>
    </aside>


    

    <!-- <aside class = "aside-2">
		<p>Help</p>
    </aside>

    <aside class = "share">
		<p>Share this page</p>
    </aside> -->


{% endblock %}
</body>

</html>
