<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login or Register</title>

    {% load staticfiles %}

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans+Mono|Glegoo" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'animal_adoption/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'animal_adoption/login_style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    

</head>
<body>

    <div class = "account">
        <div id = "register">
        	<h3>Create an Account</h3>

        	<form action="{% url 'animal_adoption:register' %}" method = "POST">
        		{% csrf_token %}
            {{ profile_form.as_p }}
        		
        		<input type = "submit" class = "button" value = "Register"/>
        	</form>
        </div>

        <div id = "login">

        <h3>Log in</h3>

            <form method="POST" action="{% url 'animal_adoption:login' %}">
                {% csrf_token %}
                
                <input type="text" placeholder="Username" name="username"/>
                <br>
                <input type="password" placeholder="Password" name="password"/>
                <br>
                <input type="submit" value = "Log In" class = "button">
            </form>
        </div>
    </div>
</body>
</html>