<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Find Pet</title>
</head>
<body>
	{% extends 'app/base.html' %}
	{% block content %}

		{% for value in petfinderValues %}

			<div id = "search-info">
				{% for info in value.info %}
					{% if "http" in info %}
						<img class = "pet-photo" src={{info}} alt="Thumbnail Picture">
					{% else %}
						<div class = "pet-info">{{info}}</div>
					{% endif %}

					<!-- <br> -->

				{% endfor %}
				<form action = "{% url 'animal_adoption:details' %}?ID={{value.ID}}" method = "POST">
						{% csrf_token %}
						<input type = "submit" value = "Details" class = "button1">
				</form>

				<br>
				<br>
			</div>

		{% endfor %}



	{% endblock %}
</body>
</html>