<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Find Pet</title>
</head>
<body>
	{% extends 'app/base.html' %}
	{% block content %}

		
		{% for value in petfinderValues %}
		
			<div id = "search-info">
				{% for info in value %}
					{{info}}
					<br>

				{% endfor %}
				<form action = "{% url 'animal_adoption:details' %}" method = "POST">
						{% csrf_token %}
						<input type = "submit" value = "Details">
					</form>
				
				<br>
				<br>
			</div>
		
		{% endfor %}
	


	{% endblock %}
</body>
</html>